<p-dialog
  header="🚚 Invoice"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '500px' }"
  [closable]="true"
  (onHide)="onClose()"
  position="bottomright"
>

  <!-- Deliver To + Status -->
  <div class="flex justify-between">
    <div>
      <h1 class="text-xl font-bold">Invoice ID</h1>
      <p>{{invoice?.code}}</p>
    </div>
    <p-chip icon="pi pi-circle-on" [label]="invoice?.status" />
  </div>

  <p-divider/>

  <p-card header="Customer">
    <div class="section">
      <div>
        <p class="text-lg font-bold">Name: {{invoice?.customer?.name}}</p>
        <p class="text-sm">Phone: {{invoice?.customer?.phone}}</p>
        <p class="text-sm">Email: {{invoice?.customer?.email}}</p>
      </div>
    </div>
  </p-card>

  <p-divider/>

  <!--  Customer Address-->
  <div class="section">
    <div class="section-header">
      <label>Address</label><br>
      <span>{{invoice?.customer?.address}}</span>
    </div>
  </div>

  <p-divider/>

  <!--  Note -->
  <div class="section">
    <div class="section-header">
      <label>Note</label><br>
      <span>{{invoice?.note}}</span>
    </div>
  </div>

  <p-divider/>

  <!--  Date -->
  <div class="section">
    <div class="section-header">
      <label>Invoice Date</label><br>
      <span>{{createdAtFormatted}}</span>
    </div>
  </div>

  <p-divider/>


  <!-- Deliver Items -->
  <div class="section">
    <div class="section-header">
      <label>Items</label>
    </div>
    <p-dataview #dv [value]="invoice?.items">
      <ng-template #list let-items>
        <div class="grid grid-cols-12 gap-4 grid-nogutter">
          <div class="col-span-12" *ngFor="let item of items; let first = first">
            <div
              class="flex flex-col sm:flex-row sm:items-center p-6 gap-4"
              [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }"
            >
              <div class="md:w-40 relative">
                <img
                  class="block xl:block mx-auto rounded-border w-full"
                  [src]="item?.product?.full_image_url"
                  [alt]="item?.product?.name"
                />
                <p-tag
                  [value]="item?.product?.status || 'On Process'"
                  [severity]="getSeverity(item.product)"
                  class="absolute"
                  styleClass="dark:!bg-surface-900"
                  [style.left.px]="4"
                  [style.top.px]="4"
                />
              </div>
              <div class="flex flex-col justify-between md:items-center flex-1 gap-6">
                <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                  <div>
                    <span class="font-medium text-secondary text-sm">{{ item?.product?.type }} - {{ item?.product?.code }}</span>
                    <div class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2">{{ item?.product?.fabric }}</div>
                  </div>
                </div>
                <div class="flex flex-col md:items-end gap-8">
                    <span class="text-xl font-semibold text-surface-900 dark:text-surface-0">{{
                        (item?.product?.price | currency:'IDR':'symbol':'0.0-0':'id-ID') + '/pcs'
                      }}</span>
                  <span>{{item?.quantity}}x</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataview>
  </div>


  <p-divider/>

  <!-- Delivery Letter -->
  <div class="section">
    <label>Cutting File</label><br>
    <p-button styleClass="mt-3 w-full" severity="contrast" label="Invoice PDF"/>
  </div>

  <p-divider/>

  <div class="flex gap-2">
    <p-button class="w-full" styleClass="w-full" label="Hold Order" severity="warn" variant="outlined" (click)="visible = false" />
    <p-button class="w-full" styleClass="w-full" label="Cancel Order" severity="danger" variant="outlined" (click)="visible = false" />
  </div>
</p-dialog>
