<p-dialog
  header="🚚 Invoice"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '500px' }"
  [closable]="true"
  (onHide)="onClose()"
  position="bottomright"
>

  <app-detail-invoice-template [invoice]="invoice"/>
  <p-divider/>


  <!-- Delivery Letter -->
  <div class="section">
    <label>Invoice File</label><br>
    <p-button (click)="previewPDF()" [loading]="generatingPdf" styleClass="mt-3 w-full" severity="contrast" label="Invoice PDF"/>
  </div>

  <p-divider/>

  <div class="flex gap-2">
    <p-button class="w-full" styleClass="w-full" label="Hold Order" severity="warn" variant="outlined" (click)="visible = false" />
    <p-button class="w-full" styleClass="w-full" label="Cancel Order" severity="danger" variant="outlined" (click)="visible = false" />
  </div>
</p-dialog>
