<div class="px-10 md:px-40">
  <div class="flex gap-10 items-center">
    <button class="back-btn" (click)="goBack()">← Back to Products</button>
    <h2 class="text-2xl font-bold">Collection <span class="count">({{productService.pagination.total}})</span></h2>
  </div>

  <div class="toolbar mt-10">
    <app-search-input class="flex-1" placeholder="Search by product code"/>
    <div class="actions">
      <button>Filter</button>
      <button>Sort By</button>
    </div>
  </div>

  <app-product-grid
    [products]="products"
    [loading]="loading"
    [scrollDisabled]="scrollDisabled"
    (onScroll)="onScroll()"
    (goToDetail)="goToDetail($event)"
  />
</div>
