<div class="flex justify-between items-center">
  <div class="flex items-center gap-4">
    <i class="pi pi-map-marker" style="font-size: 2.5rem"></i>
    <h1 class="text-3xl">Checkpoint</h1>
  </div>
  <div>
    <p-select styleClass="w-50" [(ngModel)]="selectedCheckpoint"  (onChange)="onPickCheckpoint($event)" [options]="checkpointService.checkpointsDropdown" optionValue="id" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Checkpoint">
      <ng-template #selectedItem let-selectedOption>
        <div class="flex items-center gap-2">
          <img [src]="selectedOption?.image_url" style="width: 18px" />
          <div>{{ selectedOption.name }}</div>
        </div>
      </ng-template>
      <ng-template let-country #item>
        <div class="flex items-center gap-2">
          <img [src]="country?.image_url" style="width: 18px" />
          <div>{{ country.name }}</div>
        </div>
      </ng-template>
    </p-select>
  </div>
</div>
<p-toast />

<div class="grid grid-cols-3 gap-4 mt-10">
  <div class="">
    <p-card header="Detail">
      <p-divider></p-divider>
        <div class="flex flex-col gap-6">
            <img [src]="checkpoint.image_url" [alt]="checkpoint.name">
            <div>
              <p class="font-bold">Nama Toko</p>
              <p class="text-lg">{{checkpointName}}</p>
            </div>
            <div>
              <p class="font-bold">Phone Number</p>
              <p class="text-lg">{{checkpointPhone}}</p>
            </div>
            <div>
              <p class="font-bold">Address</p>
              <p class="text-lg">{{checkpointAddress}}</p>
            </div>
            <div class="flex gap-2 items-center">
              <p-avatar icon="pi pi-user" class="mr-2" size="xlarge" shape="circle" />
              <p>{{picName}}</p>
            </div>
        </div>
    </p-card>
  </div>

  <div class="col-span-2">
    <p-card>
      <div class="flex items-center gap-2">
        <h1 class="text-2xl">📦 Stock</h1>
        @for (tab of stockTabs; track tab.value) {
          <p-button [severity]="activeTab === tab.value ? 'secondary' : 'contrast'" [class.active]="activeTab === tab.value" class="tab" (click)="getStocksByType(tab.value)">{{tab.label}}</p-button>
        }
      </div>

      <p-divider></p-divider>
      <app-search-input></app-search-input>
      <div class="mt-4"></div>

      <!-- Table goes here -->
      <app-generic-table
        [data]="virtualStocks"
        [cols]="cols"
        [frozenColumns]="frozenColumns"
        [first]="first"
        [rows]="rows"
        [totalRecords]="totalRecords"
        [loading]="loading"
        (lazyLoad)="onLazyLoad($event)"
        (pageChange)="onPageChange($event)"
        (onSelectData)="onSelectStock($event)"
      >
        <ng-template #rowTemplate let-stock let-rowIndex="rowIndex">
          <td>{{ stock.product.name }}</td>
          <td>{{ stock.product.code }}</td>
          <td>{{ stock.product.fabric }}</td>
          <td>{{ stock.quantity }}</td>
          <td>{{ stock.product.description || '-' }}</td>
          <td>{{ stock.product.price | currency:'IDR' }}</td>
          <td>{{ stock.product.created_at | date:'short' }}</td>
          <td>
            <img [src]="stock.product.full_image_url || 'https://placehold.co/40'" width="40" alt="Product Image" />
          </td>
          <td pFrozenColumn alignFrozen="right">{{ stock.checkpoint.name }}</td>
        </ng-template>
      </app-generic-table>
    </p-card>
  </div>
</div>

<app-add-stock #addStockModal></app-add-stock>
<app-create-delivery-modal #deiverModal></app-create-delivery-modal>
