.delivery-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.section {
  margin-top: 16px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upload-button,
.generate-button {
  background: white;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.image-placeholder {
  margin-top: 10px;
}

.image-placeholder img {
  width: 100%;
  border-radius: 8px;
}

.placeholder-box {
  height: 200px;
  background: #f2f2f2;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  font-size: 24px;
}

p-chip {
  /*color: #fbc02d;*/
}
