<div class="flex gap-10 items-center">
  <button class="back-btn" (click)="goBack()">← Back to Products</button>
  <h2 class="text-2xl font-bold">Listing <span class="count">({{productService.pagination.total}})</span></h2>
</div>

<div class="toolbar mt-10">
  <app-search-input class="flex-1" placeholder="Search by product code"/>
  <div class="actions">
    <button>Filter</button>
    <button>Sort By</button>
  </div>
</div>

<div class="product-grid"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="200"
     (scrolled)="onScroll()"
     [infiniteScrollDisabled]="scrollDisabled"
>
  @for (item of products; track item.id) {
    <div (click)="goToDetail(item.id)" class="product-card">
      <img [src]="item.full_image_url ?? 'https://placehold.co/40'" alt="product image" />
      <div class="info">
        <strong>{{ item.fabric }}</strong>
        <p class="desc">{{ item.code }}</p>
        <p class="price">Rp {{ item.price | number:'1.0-0' }}</p>
        <p class="stock">🧵 {{ item.quantity }}</p>
      </div>
    </div>
  }
</div>
