@import "primeicons/primeicons.css";
/*@import "tailwindcss";*/
@plugin "tailwindcss-primeui";

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.gap {
  gap: 10px;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}
