<h2 class="text-2xl">Customer</h2>

<div class="mt-10"></div>
<app-search-input (search)="onSearch($event)"></app-search-input>

<div class="flex gap-2 mt-10">
  <p-button severity="contrast">Filter</p-button>
  <p-button severity="contrast">Download</p-button>
</div>

<!-- Order Table -->
<app-generic-table
  [data]="virtualCustomer"
  [cols]="cols"
  [first]="first"
  [rows]="rows"
  [totalRecords]="customerService.pagination.total"
  [loading]="loading"
  (lazyLoad)="onLazyLoad($event)"
  (pageChange)="onPageChange($event)"
  (onSelectData)="onSelectCustomer($event)"
>
  <ng-template #rowTemplate let-customer let-rowIndex="rowIndex">
    <td>{{ rowIndex + 1 }}</td>
    <td>{{ customer?.name }}</td>
    <td>{{ customer?.num_of_orders }}</td>
    <td>{{ customer?.num_of_items }}</td>
    <td>{{ customer?.outstanding | currency:'IDR':'symbol':'0.0-0':'id-ID' }}</td>
    <td>{{ customer?.revenue | currency:'IDR':'symbol':'0.0-0':'id-ID' }}</td>
    <td>
<!--      <p-button (click)="openDetailModal(workshop)" icon="pi pi-eye"></p-button>-->
    </td>
  </ng-template>
</app-generic-table>
